@property --deg {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}


@keyframes auto-rotate {
    to {
        --deg: 360deg;
    }
}

.kpi-card::before,
.panel::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: conic-gradient(from var(--deg) at center, #00c3ff, #4d0199, #6300c6, #009dcd);
    z-index: -2;
    filter: blur(8px);
    opacity: 0.9;
    animation: auto-rotate 6s linear infinite;
    transform: translateZ(0);
}

.kpi-card::after,
.panel::after {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: calc(12px - 1px);
    background: var(--primary-color);
    z-index: -1;
    pointer-events: none;
}