@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', 'Roboto', sans-serif;
}

:root {
    --primary-color: #03045e;
    --secondary-color: #023e8a;
    --third-color: #e09f3e;
}